<a href="https://colab.research.google.com/github/Aparana-dinni/internship-proj/blob/main/pub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task - Open Pub Application


Letâ€™s assume you are on a vacation in the United Kingdom with your friends. For fun, you decided to go to the Pubs nearby for some drinks. Google Map is down because of some issues. 

While searching the internet, you came across https://www.getthedata.com/open-pubs. On this website, you found all the pub locations (Specifically Latitude and Longitude info). In order to impress your friends, you decided to create a web application with the data available in your hand. (Go through the requirements mentioned below)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://github.com/Aparana-dinni/internship-proj/blob/main/open_pubs.csv?raw=True")

In [3]:
df.shape

(51330, 9)

In [4]:
df.columns

Index(['22', 'Anchor Inn', 'Upper Street, Stratford St Mary, COLCHESTER',
       'CO7 6LW', '604749', '234404', '51.970379', '0.979340', 'Babergh'],
      dtype='object')

In [5]:
df.head(5)

,22,Anchor Inn,"Upper Street, Stratford St Mary, COLCHESTER",CO7 6LW,604749,234404,51.970379,0.979340,Babergh
0,36,Ark Bar Restaurant,"Ark Bar And Restaurant, Cattawade Street, Bran...",CO11 1RH,610194,233329,51.958698,1.057832,Babergh
1,74,Black Boy,"The Lady Elizabeth, 7 Market Hill, SUDBURY, Su...",CO10 2EA,587334,241316,52.038595,0.729915,Babergh
2,75,Black Horse,"Lower Street, Stratford St Mary, COLCHESTER",CO7 6JS,622675,-5527598,\N,\N,Babergh
3,76,Black Lion,"Lion Road, Glemsford, SUDBURY",CO10 7RF,622675,-5527598,\N,\N,Babergh
4,97,Brewers Arms,"The Brewers Arms, Bower House Tye, Polstead, C...",CO6 5BZ,598743,240655,52.028694,0.895650,Babergh